@import "../../styles/Layout/Breakpoints.module.scss";

.exportCard {
  padding: 15px 0px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  border-radius: 3px;
  border: 0.5px solid $border_mobile;
  cursor: pointer;

  @include breakpoint-mixin("Laptop_S") {
    border: 0.5px solid $border_laptop;

    &:hover {
      background-color: $hover;
    }
  }

  .ImageHalf {
    width: 20%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .imageContainer {
      height: 45px;
      border-radius: 3px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        object-fit: cover;
      }
    }

    // background-color: aqua;
  }

  .TextHalf {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #title {
      margin-bottom: 10px;
    }

    #description {
      line-height: 30px;
    }
    // background-color: blue;
  }
}
