@import "../../styles/Layout/Breakpoints.module.scss";

.HeatMapBanner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20dvh;
  margin-top: 25px;

  @include breakpoint-mixin("Laptop_S") {
    margin: 0px;
    height: 30dvh;
  }

  @include breakpoint-mixin("Desktop_M") {
    height: 32dvh;
  }

  @include breakpoint-mixin("Desktop_L") {
    height: 30dvh;
  }

  @include portrait-min-width-mixin("Vertical_Display") {
    height: 20dvh;
  }

  .HeatMapContainer {
    height: 100%;
    width: 90%;
    //To account for thde scrollbar
    display: flex;
    align-items: center;
    background-color: $cd-bg;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 3px;
    border: 0.5px solid $border_mobile;

    @include breakpoint-mixin("Laptop_S") {
      border: 0.5px solid $border_laptop;
      height: 85%;
      //To account for the scrollbar
      width: calc(95% + 10px);
      margin-left: 10px; // Add left margin
      //To account for the scrollbar
      cursor: pointer;

      &:hover {
        transition: all 0.5s ease;
        transform: scale(1.01);
        border: 1px solid grey;
      }
    }

    @include portrait-min-width-mixin("Vertical_Display") {
      height: 100%;
    }

    .color-empty-light {
      fill: #191919;
    }

    .color-scale-1 {
      fill: #c0ddf9;
    }
    .color-scale-2 {
      fill: #73b3f3;
    }
    .color-scale-3 {
      fill: #3886e1;
    }
    .color-scale-4 {
      fill: #17459e;
    }
  }

  text {
    font-size: 8px;
    fill: #aaa;
  }

  .loading {
    height: 85%;
    width: 100%;
    background-color: #e3e3e36b;
    animation: loading-animation 1s infinite linear;
  }

  @keyframes loading-animation {
    0% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 0.2;
    }
  }
}
