@import "../../styles/Layout/Breakpoints.module.scss";

.Highlight {
  padding: 30px 0px;
  //Plus 10px for the width of the scroll bar
  width: calc(90% + 10px);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  border-bottom: 0.5px solid $border_mobile;

  @include breakpoint-mixin("Laptop_S") {
    flex-direction: row;
  }

  .mainHalf {
    width: 100%;
    overflow-x: hidden;

    @include breakpoint-mixin("Laptop_S") {
      height: 100%;
      width: 70%;
      overflow-x: visible;
    }

    #highlightText {
      word-spacing: 10px;
      margin-bottom: 25px;
      max-width: 100%;
    }

    #highlightNote {
      word-spacing: 5px;
      margin-bottom: 30px;
      max-width: 100%;
    }

    .tagsBanner {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 25px;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
      row-gap: 20px;

      .tag {
        display: flex;
        padding: 2px 10px;
        border-radius: 3px;
        max-width: 85%;
        overflow-x: hidden;
        box-sizing: border-box;
        margin-right: 20px;
        background-color: #769f9d;
        justify-content: space-between;

        @include breakpoint-mixin("Laptop_S") {
          max-width: 100%;
        }

        p {
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        span {
          margin-left: 10px;
          cursor: pointer;
        }

        @include breakpoint-mixin("Laptop_S") {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }

    .highlightOptions {
      display: flex;
      height: fit-content;
      width: 100%;
      justify-content: space-between;
      overflow: visible;

      //For the category modal
      span {
        position: relative;
      }

      .highlightButton {
        cursor: pointer;
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 6px;

        @include breakpoint-mixin("Laptop_S") {
          padding: 2px;
          &:hover {
            opacity: 0.5;
            background-color: $hover;
          }
        }
      }
    }

    .annotationDropdown {
      padding-top: 25px;
      display: flex;
      flex-direction: column;

      textarea {
        min-height: 22dvh;
        width: 100%;
        outline: none;
        resize: none;
        background-color: $hover;
        border-radius: 4px;
        border: none;
        padding: 10px;

        @include breakpoint-mixin("Laptop_S") {
          min-height: 12dvh;
        }
      }

      textarea:focus {
        outline: none !important;
        border: 1px solid $kton-blue;
        box-shadow: 0 0 3px;
      }

      .buttonsSection {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;

        p {
          padding: 5px 30px 5px 30px;
          height: fit-content;
          color: white;
          cursor: pointer;
          box-sizing: border-box;
          background-color: $hover;
          border-radius: 3px;
          margin-right: 15px;
          white-space: nowrap;
          margin-top: 20px;

          @include breakpoint-mixin("Laptop_S") {
            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }

  .metaHalf {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 20px;

    @include breakpoint-mixin("Laptop_S") {
      margin-bottom: 0px;
      height: 100%;
      width: 30%;
    }

    p {
      margin-bottom: 15px;
    }
  }
}

.activeCard {
  background-color: #263341;
}
