@import "../../styles/Layout/Breakpoints.module.scss";

.input {
  display: none;
}

.buttonContainer {
  display: flex;
}

.button {
  width: 100%;
  padding: 10px 30px;
  background-color: $hover;
  border-radius: 3px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  // margin-left: 0.5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include breakpoint-mixin("Laptop_S") {
    margin-left: 0px;
    &:hover {
      opacity: 0.5;
    }
  }
}

.active {
  opacity: 0.7;
}
