@import "../../styles/Layout/Breakpoints.module.scss";
.importSect {
  height: fit-content;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .importInfoSect {
    width: 100%;
    display: flex;
    height: 15dvh;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: center;

    @include breakpoint-mixin("Laptop_S") {
      height: 10dvh;
    }

    @include breakpoint-mixin("Desktop_M") {
      height: 8vh;
    }
  }

  .progressSect {
    height: 5dvh;
    border: 0.5px solid $border_mobile;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint-mixin("Laptop_S") {
      border: 0.5px solid $border_laptop;
    }

    .progress_bar {
      height: 7px;
      width: 80%;
      background-color: #78747476;

      .progress_bar_fill {
        height: 100%;
        background-color: #3fcdfc;
      }
    }
  }
}
