@import "../../styles/Layout/Breakpoints.module.scss";

.modal {
  position: fixed;
  background-color: $modal-bg;
  bottom: 0%;
  right: 0%;
  width: 100%;
  height: 65dvh;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0px 5px 10px 5px;
  overflow-y: auto;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  @include breakpoint-mixin("Laptop_S") {
    border: 0.5px solid $border;
    width: 300px;
    height: fit-content;
    position: absolute;
    min-height: 10dvh;
    max-height: 30dvh;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px 10px 10px;

    h3 {
      opacity: 0.5;
    }

    @include breakpoint-mixin("Laptop_S") {
      padding: 10px 5px 5px 5px;
      display: none;
    }
  }

  .searchSection {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: center;

    input {
      background-color: $hover;
      border-radius: 4px;
      width: 100%;
      border: none;
      padding: 5px;
    }

    input:focus {
      outline: none !important;
      border: 1px solid $kton-blue;
      box-shadow: 0 0 3px;
    }
  }

  .listItemType {
    // width: 100%;
    // padding: 7px 10px;
    // opacity: 0.5;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;

    h3 {
      opacity: 0.5;
    }
  }

  .listItem {
    width: 100%;
    padding: 7px 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;

    p {
      font-weight: 300;
    }

    //Shit for tags
    .tag {
      padding: 1px 10px;
      background-color: var(--background-color);
      border-radius: 3px;

      // border-right: 0.5px solid var(--background-color);
      overflow-x: hidden;
      box-sizing: border-box;
      max-width: 85%;
      // width: 100%;

      @include breakpoint-mixin("Laptop_S") {
        max-width: 100%;
      }

      p {
        overflow-x: hidden;
        //force p to be one line
        white-space: nowrap;
        //give ellipsis
        text-overflow: ellipsis;
        // width: fit-content;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    #createText {
      margin-right: 15px;
    }

    @include breakpoint-mixin("Laptop_S") {
      #trashIcon {
        display: none;
      }

      &:hover {
        #trashIcon {
          display: block;
        }
      }
    }
  }

  .selectedItem {
    background-color: $hover;
  }

  .buttonSection {
    width: 100%;
    .button {
      padding: 2px 30px 2px 30px;
      border: 0.5px solid white;
      color: white;
      cursor: pointer;
      margin-left: 10px;
      width: fit-content;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.Modal_Add_Category {
  @include breakpoint-mixin("Laptop_S") {
    width: 400px;
  }

  .listItem {
    .tag {
      background-color: #769f9d;
    }

    &:hover {
      background-color: $hover;
    }
  }
}

.above {
  @include breakpoint-mixin("Laptop_S") {
    left: 0%;
    bottom: 170%;
  }
}

.below {
  @include breakpoint-mixin("Laptop_S") {
    left: 0%;
    top: 180%;
  }
}

.Modal_Filter_Search {
  @include breakpoint-mixin("Laptop_S") {
    width: 400px;
    left: 0%;
    top: 180%;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }
  }
}

.Modal_Add_Genre {
  @include breakpoint-mixin("Laptop_S") {
    left: 0%;
    top: 170%;
    width: 400px;
  }
}

.spaceBetween {
  justify-content: space-between;
}

.Modal_Book_Search {
  @include breakpoint-mixin("Laptop_S") {
    width: 500px;
    right: 0%;
    top: 180%;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }
  }
}

.Modal_Select {
  padding: 10px 5px;

  @include breakpoint-mixin("Laptop_S") {
    left: 0%;
    top: 180%;
    width: 150px;
    box-sizing: border-box;
    min-height: fit-content;
    max-height: fit-content;
  }
}

.Modal_Type_Save {
  @include breakpoint-mixin("Laptop_S") {
    bottom: 5%;
    right: 10%;
  }
}

.Modal_Author_Select {
  padding: 10px 5px;

  @include breakpoint-mixin("Laptop_S") {
    padding: 5px;
    position: relative;
    width: 250px;
    box-sizing: border-box;
    min-height: fit-content;
    max-height: fit-content;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }

    .header {
      display: flex;
    }
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 100;
  // background-color: $blur-bg;
}

.modalBackgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1001;
  background-color: $blur-bg;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal::-webkit-scrollbar {
  height: 100%;
  background-color: rgb(45, 41, 41);
  width: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgba(70, 68, 68, 0.428);
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
  height: 40px;
}
