@import "../../styles/Layout/Breakpoints.module.scss";

.modal {
  position: fixed;
  background-color: $bg;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 90dvh;
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 3px;
  padding-bottom: 20px;

  @include breakpoint-mixin("Laptop_S") {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: $modal-bg;
    padding: 15px;
    border: 0.5px solid $border_laptop;
    width: 300px;
    height: fit-content;
    position: absolute;
    min-height: 10dvh;
    max-height: 30dvh;
  }

  //mobile header
  .mobileHeader {
    min-height: 10dvh;
    width: 100%;
    background-color: $cd-bg;
    display: flex;
    border-bottom: 0.5px solid $border_mobile;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;

    @include breakpoint-mixin("Laptop_S") {
      display: none;
    }

    #done {
      position: absolute;
      right: 10%;
      color: $kton-blue;
    }
  }

  .searchSection {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid $border_mobile;
    margin-bottom: 15px;

    @include breakpoint-mixin("Laptop_S") {
      width: 100%;
      border: none;
    }

    input {
      width: 100%;
      border: none;
      padding: 10px;
      background-color: $cd-bg;
      outline: none !important;

      @include breakpoint-mixin("Laptop_S") {
        padding: 7px;
        background-color: $hover;
        border-radius: 4px;
      }
    }

    input:focus {
      @include breakpoint-mixin("Laptop_S") {
        outline: none !important;
        border: 1px solid $kton-blue;
        box-shadow: 0 0 3px;
      }
    }
  }

  .listItemType {
    display: flex;
    align-items: center;
    margin: 20px 0px 10px 10px;

    @include breakpoint-mixin("Laptop_S") {
      margin: 0px;
      margin-bottom: 10px;
      width: 100%;
      border-bottom: 0.5px solid $border_laptop;
    }
  }

  .listItem {
    padding: 10px;
    cursor: pointer;
    display: flex;
    box-sizing: border-box;
    background-color: $cd-bg;
    border-bottom: 0.5px solid $border_mobile;
    border-top: 0.5px solid $border_mobile;

    @include breakpoint-mixin("Laptop_S") {
      padding: 8px;
      border: 3px;
      border: none;
      background-color: transparent;
    }

    p {
      font-weight: 300;
    }

    //Shit for tags
    .tag {
      padding: 2px 10px;
      background-color: var(--background-color);
      border-radius: 3px;
      display: flex;
      align-items: center;

      // border-right: 0.5px solid var(--background-color);
      overflow-x: hidden;
      box-sizing: border-box;
      max-width: 85%;
      // width: 100%;

      @include breakpoint-mixin("Laptop_S") {
        max-width: 100%;
      }

      #star {
        font-size: 22px;
        margin-right: 5px;
      }

      p {
        overflow-x: hidden;
        //force p to be one line
        white-space: nowrap;
        //give ellipsis
        text-overflow: ellipsis;
        // width: fit-content;
      }

      @include breakpoint-mixin("Laptop_S") {
        &:hover {
          opacity: 0.5;
        }
      }
    }

    #createText {
      margin-right: 15px;
    }

    @include breakpoint-mixin("Laptop_S") {
      #trashIcon {
        display: none;
      }

      &:hover {
        #trashIcon {
          display: block;
        }
      }
    }
  }

  .selectedItem {
    background-color: $hover;
  }

  .buttonSection {
    .button {
      border-radius: 4px;
      width: 95%;
      border: none;
      padding: 5px;
      border: 0.5px solid $border_mobile;
      display: flex;
      justify-content: center;
      cursor: pointer;
      margin: 0px auto 0px auto;

      @include breakpoint-mixin("Laptop_S") {
        width: 100%;
        border: 0.5px solid $border_laptop;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.Modal_Add_Category {
  @include breakpoint-mixin("Laptop_S") {
    width: 400px;
  }

  .listItem {
    .tag {
      background-color: #769f9d;
    }

    &:hover {
      background-color: $hover;
    }
  }
}

.above {
  @include breakpoint-mixin("Laptop_S") {
    left: 0%;
    bottom: 170%;
  }
}

.below {
  @include breakpoint-mixin("Laptop_S") {
    left: 0%;
    top: 180%;
  }
}

.Modal_Filter_Search {
  @include breakpoint-mixin("Laptop_S") {
    width: 400px;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }
  }
}

.Modal_Add_Genre {
  @include breakpoint-mixin("Laptop_S") {
    right: 0%;
    bottom: 170%;
    width: 400px;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }
  }
}

.spaceBetween {
  justify-content: space-between;
}

.Modal_Book_Search {
  @include breakpoint-mixin("Laptop_S") {
    width: 500px;
    right: 0%;
    top: 180%;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }
  }
}

.Modal_Select {
  @include breakpoint-mixin("Laptop_S") {
    padding: 10px 5px;
    left: 0%;
    top: 180%;
    width: 150px;
    box-sizing: border-box;
    min-height: fit-content;
    max-height: fit-content;
  }
}

.Modal_Centered_Select {
  @include breakpoint-mixin("Laptop_S") {
    padding: 10px;
    position: relative;
    width: 250px;
    box-sizing: border-box;
    min-height: fit-content;
    max-height: fit-content;

    .listItem {
      &:hover {
        background-color: $hover;
      }
    }

    .header {
      display: flex;
    }
  }
}

.Modal_Type_Save {
  @include breakpoint-mixin("Laptop_S") {
    top: 90%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.Modal_Confirmation {
  @include breakpoint-mixin("Laptop_S") {
    position: relative;
    width: 450px;

    .mobileHeader {
      display: flex;
      padding: 0px;
      min-height: fit-content;
      border-bottom: none;
      margin-bottom: 15px;
    }
  }
}

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 100;
  // background-color: $blur-bg;
}

.modalBackgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-mixin("Laptop_S") {
    background-color: $blur-bg;
  }
}

@include breakpoint-mixin("Laptop_S") {
  .modal::-webkit-scrollbar {
    height: 100%;
    background-color: rgb(45, 41, 41);
    width: 10px;
  }

  .modal::-webkit-scrollbar-thumb {
    background-color: rgba(70, 68, 68, 0.428);
    border: 1px solid transparent;
    background-clip: content-box;
    border-radius: 10px;
    height: 40px;
  }
}
