@import "../../styles/Layout/Breakpoints.module.scss";

.settingContentContainer {
  margin-bottom: 50px;

  @include breakpoint-mixin("Laptop_S") {
    margin-bottom: 0px;
  }

  .settingContentHeader {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid $border_mobile;
    margin-bottom: 20px;

    @include breakpoint-mixin("Laptop_S") {
      border-bottom: 0.5px solid $border_laptop;
    }
  }

  .featureContainer {
    border-bottom: 0.5px solid $border_mobile;

    @include breakpoint-mixin("Laptop_S") {
      border-bottom: 0.5px solid $border_laptop;
    }

    .settingSelect {
      padding: 15px 0px;
      display: flex;
      flex-direction: column;

      @include breakpoint-mixin("Laptop_L") {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .selectTextSection {
        // width: 60%;
        padding-right: 25px;

        #selectName {
          font-size: 17px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        #selectDescription {
          opacity: 0.5;
        }
      }

      .buttonSection {
        cursor: pointer;
        display: flex;
        column-gap: 20px;
        margin-top: 15px;

        @include breakpoint-mixin("Laptop_L") {
          margin-top: 0px;
        }
      }
    }

    .listSection {
      .listItem {
        width: 100%;
        padding: 10px 0px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #bookTitle {
          max-width: 70%;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 2;
        }

        .listItemButtons {
          display: flex;
          column-gap: 10px;

          .button {
            height: fit-content;
            padding: 5px 10px;
            border-radius: 3px;
            border: 0.5px solid $border_mobile;
            cursor: pointer;

            @include breakpoint-mixin("Laptop_S") {
              border: 0.5px solid $border_laptop;
            }

            &:hover {
              background-color: $hover;
            }
          }

          .delete {
            border: 0.5px solid $kton-red;
          }

          .restore {
            border: 0.5px solid palegreen;
          }
        }
      }
    }
  }
}
