@import "../../styles/Layout/Breakpoints.module.scss";

.shareOverlay {
  position: fixed;
  height: 100dvh;
  width: 100%;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blur-bg;
  z-index: 100;

  .highlightImage {
    height: 500px;
    width: 500px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    position: relative;
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center center; /* Center the image */

    .imageMetaData {
      position: absolute;
      bottom: 10px;
      right: 10px;
      text-align: right;
    }
  }

  .ImageSection {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;

    @include breakpoint-mixin("Laptop_S") {
      width: 85%;
    }
  }
}
