@import "../../styles/Layout/Breakpoints.module.scss";

.BookPage {
  height: 93dvh;

  @include breakpoint-mixin("Tablet") {
    height: 95dvh;
  }

  @include breakpoint-mixin("Laptop_S") {
    display: flex;
    flex-direction: row;
    height: 93dvh;
  }

  @include breakpoint-mixin("Desktop_M") {
    height: 95dvh;
  }

  @include portrait-min-width-mixin("Vertical_Display") {
    height: 97dvh;
  }

  .bookHalf {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    border-right: 0.5px solid $border;
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint-mixin("Laptop_S") {
      width: 50%;
    }

    @include portrait-min-width-mixin("Vertical_Display") {
      width: 100%;
    }

    .image {
      height: 345px;
      width: 250px;
      cursor: pointer;
      border-radius: 3px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }

      @include breakpoint-mixin("Mobile_M") {
        height: 400px;
        width: 300px;
      }

      @include breakpoint-mixin("Mobile_L") {
        height: 500px;
        width: 350px;
      }

      @include breakpoint-mixin("Tablet") {
        height: 650px;
        width: 465px;
      }

      @include breakpoint-mixin("Laptop_S") {
        height: 435px;
        width: 335px;
      }

      @include breakpoint-mixin("Laptop_M") {
        height: 440px;
        width: 320px;
      }

      @include breakpoint-mixin("Laptop_L") {
        height: 475px;
        width: 365px;
      }

      @include breakpoint-mixin("Desktop_S") {
        height: 625px;
        width: 480px;
      }

      @include breakpoint-mixin("Desktop_L") {
        height: 800px;
        width: 620px;
      }
    }
  }

  .highlightHalf {
    width: 100%;
    overflow-y: auto;

    //For laptop and Desktop
    @include breakpoint-mixin("Laptop_S") {
      width: 50%;
      background-color: $cd-bg;
    }

    .bookInformation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      //Aligning title with highlights below
      width: calc(90% + 10px);
      position: relative;
      margin: 5dvh auto 0 auto;

      @include portrait-min-width-mixin("Vertical_Display") {
        margin: 5dvh auto 0 auto;
      }

      .titleContainer {
        display: flex;
        align-items: center;

        .titleSection {
          height: 100%;
          width: 90%;
          flex-wrap: wrap;
        }

        .searchSection {
          height: 100%;
          width: 10%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          #searchIcon {
            cursor: pointer;
            font-size: 30px;
          }
        }
      }

      .titleContainer,
      #author,
      .star {
        margin-bottom: 25px;
      }

      .star {
        cursor: pointer;
        font-size: 27px;

        @include breakpoint-mixin("Laptop_S") {
          font-size: 26px;
        }
        @include breakpoint-mixin("Desktop_M") {
          font-size: 25px;
        }
      }
    }
  }

  @include breakpoint-mixin("Laptop_S") {
    .highlightHalf::-webkit-scrollbar {
      height: 100%;
      background-color: rgb(45, 41, 41);
      width: 10px;
    }

    .highlightHalf::-webkit-scrollbar-thumb {
      background-color: rgba(70, 68, 68, 0.428);
      border: 1px solid transparent;
      background-clip: content-box;
      border-radius: 10px;
      height: 40px;
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 94dvh;

  @include breakpoint-mixin("Laptop_S") {
    height: 93dvh;
  }

  @include breakpoint-mixin("Desktop_M") {
    height: 95dvh;
  }
}

.loadingText:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}
