@import "../styles/Breakpoints.module.scss";

.Book {
  height: 85dvh;
  width: 100%;
  border-bottom: 0.5px solid $border;
  box-sizing: border-box; /* Include the border in the item's total width */
  display: flex;
  flex-direction: column;
  align-items: center;

  @include breakpoint-mixin("Tablet") {
    height: 60dvh;
    border-right: 0.5px solid $border;
    border-bottom: 0.5px solid $border;
  }

  @include breakpoint-mixin("Laptop") {
    height: 75dvh;
  }

  @include breakpoint-mixin("Laptop_L") {
    height: 70dvh;
  }

  @include breakpoint-mixin("Desktop") {
    height: 65dvh;
  }

  @include breakpoint-mixin("Desktop_L") {
    height: 55dvh;
  }

  @include portrait-min-width-mixin("Vertical_Display") {
    height: 38dvh;
  }

  .ImageSection {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid $border;
    cursor: pointer;
    position: relative;

    @include breakpoint-mixin("Desktop") {
      height: 73%;
    }

    @include breakpoint-mixin("Desktop_L") {
      height: 75%;
    }

    .blurEffect {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      filter: opacity(0.5);
      background: radial-gradient(
          farthest-side,
          var(--background-color),
          transparent
        )
        center no-repeat;
      animation: grow 0.5s forwards;
    }

    @keyframes grow {
      from {
        background-size: 10% 10%;
      }
      to {
        background-size: 175% 175%;
      }
    }

    .ImageHolder {
      height: 80%;
      width: 60%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 3px;
      overflow: hidden;

      @include breakpoint-mixin("Laptop") {
        height: 70%;
      }

      @include breakpoint-mixin("Desktop") {
        height: 75%;
        width: 55%;
      }

      @include portrait-min-width-mixin("Vertical_Display") {
        width: 50%;
      }

      &:hover {
        transition: all 0.5s ease;
        transform: scale(1.025);
      }

      .NoImage {
        background-image: url("../../public/NoBookCover.svg");
        /* Make the background image repeat both horizontally and vertically */
        background-repeat: repeat;
        /* Set the size of the background image */
        background-size: 150px; /* Adjust this value to control the size of the image */
        /* Set the width and height of the container to fill the available space */
        width: 100%;
        height: 100%;
      }

      .image {
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        object-fit: cover;
      }
    }
  }

  .Book_Meta_Section {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;

    @include breakpoint-mixin("Desktop") {
      height: 27%;
    }

    @include breakpoint-mixin("Desktop_L") {
      height: 25%;
    }

    .Meta_center {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      h2 {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
      }

      .star {
        cursor: pointer;
        font-size: 27px;

        @include breakpoint-mixin("Laptop") {
          font-size: 26px;
        }
        @include breakpoint-mixin("Desktop") {
          font-size: 25px;
        }
      }
    }
  }
}
