@import "../styles/Breakpoints.module.scss";

.GenreModal {
  position: absolute;
  bottom: calc(100% + 10px);
  min-height: 10dvh;
  max-height: 40dvh;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  background-color: $cd-bg;
  border: 0.5px solid black;
  overflow-y: scroll;
  padding-bottom: 15px;
  left: 12%;

  .searchItem {
    height: 5dvh;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    // justify-content: center;

    @include breakpoint-mixin("laptop-small") {
      height: 7dvh;
    }

    @include breakpoint-mixin("desktop") {
      height: 5dvh;
    }

    input {
      background-color: transparent;
      height: 100%;
      border: none;
      outline: none;
      color: white;
      padding: 0px;
      width: 95%;
      margin-left: 10px;
    }
  }

  .genreItem {
    height: 5dvh;
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0px auto 0px auto;
    border-radius: 5px;
    margin-top: 15px;
    padding: 0px 20px;
    cursor: pointer;

    @include breakpoint-mixin("laptop-small") {
      height: 7dvh;
    }

    @include breakpoint-mixin("desktop") {
      height: 5dvh;
    }

    .tag {
      padding: 2px 15px;
      border: 0.5px solid var(--background-color);
      overflow-x: hidden;
      box-sizing: border-box;
      max-width: 85%;

      @include breakpoint-mixin("laptop-small") {
        max-width: 60%;
      }

      p {
        overflow-x: hidden;
        //force p to be one line
        white-space: nowrap;
        //give ellipsis
        text-overflow: ellipsis;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    #trashIcon {
      font-size: 20px;
    }

    #createText {
      border: none;
      margin-right: 15px;
    }

    @include breakpoint-mixin("laptop-small") {
      &:hover {
        background-color: #2c2c2c;
      }
    }
  }
  .spaceBetween {
    justify-content: space-between;
  }
}

.GenreModal::-webkit-scrollbar {
  height: 100%;
  background-color: rgb(45, 41, 41);
  width: 10px;
}

.GenreModal::-webkit-scrollbar-thumb {
  background-color: rgba(70, 68, 68, 0.428);
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
  height: 40px;
}
