@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400&display=swap");
@import "../Styles/Breakpoints.scss";

body {
  background-color: #191919;
  margin: 0px;
  padding: 0px;
  font-family: "Urbanist", sans-serif;
  color: white;
  font-weight: 100;

  h1 {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 30px;

    @include breakpoint-mixin("laptop-small") {
      font-size: 38px;
    }
  }

  h2 {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 25px;
  }

  h3 {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
    font-size: 18px;
  }

  p {
    margin: 0px;
    padding: 0px;
    font-weight: 100;
    font-size: 16px;
  }

  input {
    font-family: "Urbanist", sans-serif;
    font-size: 16px;
  }
}
