@import "../styles/Breakpoints.module.scss";

.header {
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid $border;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 7dvh;

  @include breakpoint-mixin("desktop") {
    height: 5dvh;
  }

  .headerWidth {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 500;
    justify-content: space-between;

    p {
      font-size: 18px;
      cursor: pointer;
    }

    span {
      cursor: pointer;

      @include breakpoint-mixin("laptop-small") {
        &:hover {
          opacity: 0.5;
        }
      }
    }

    @include breakpoint-mixin("laptop-small") {
      width: 95%;
    }
  }
}

.headerExpand {
  padding: 10px 0px 10px 0px;
  height: fit-content;
}
