@import "../styles/Breakpoints.module.scss";

.HeatMapBanner {
  width: 95%;
  display: flex;
  align-items: center;
  height: 25dvh;
  // background-color: orange;

  @include breakpoint-mixin("laptop-small") {
    height: 35dvh;
  }

  .HeatMapContainer {
    height: 85%;
    width: 100%;
    display: flex;
    align-items: center;
    border: 0.5px solid $border;
    background-color: $cd-bg;
    // background-color: #bec6d9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    cursor: pointer;

    @include breakpoint-mixin("laptop-small") {
      &:hover {
        transition: all 0.5s ease;
        transform: scale(1.025);
        border: 1px solid grey;
      }
    }

    .color-empty-light {
      fill: #191919;
    }

    .color-scale-1 {
      fill: #c0ddf9;
    }
    .color-scale-2 {
      fill: #73b3f3;
    }
    .color-scale-3 {
      fill: #3886e1;
    }
    .color-scale-4 {
      fill: #17459e;
    }
  }

  text {
    font-size: 8px;
    fill: #aaa;
  }

  .loading {
    height: 85%;
    width: 100%;
    background-color: #e3e3e36b;
    animation: loading-animation 1s infinite linear;
  }

  @keyframes loading-animation {
    0% {
      opacity: 0.2;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 0.2;
    }
  }
}
