@import "../Styles/Breakpoints.scss";

// .HomeStatBanner {
//   height: 25vh;
//   width: 95%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;

//   span:first-of-type {
//     font-weight: 100;
//     opacity: 0.6;
//   }

//   span {
//     opacity: 1;
//     font-weight: 700;
//   }
// }

.HomeStatBanner {
  height: 25vh;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  .statsBox {
    width: 30%;
    height: 80%;
    border: 0.5px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #202020;
  }
}
