@import "../styles/Breakpoints.module.scss";
.importSect {
  height: 20vh;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint-mixin("laptop-small") {
    margin-top: 0%;
    height: 25%;
  }

  @include breakpoint-mixin("laptop-wide") {
    height: 20%;
  }

  .importInfoSect {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      width: 100%;
    }
  }
}
