.input {
  display: none;
}

.button {
  padding: 10px 40px 10px 40px;
  border: 1px solid black;
  width: fit-content;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    opacity: 0.5;
  }
}
