@import "../styles/Breakpoints.module.scss";

.Library {
  overflow-y: scroll;
  height: 94dvh;

  @include breakpoint-mixin("laptop-small") {
    height: 93dvh;
  }

  @include breakpoint-mixin("desktop") {
    height: 95dvh;
  }

  .searchBanner {
    height: 6dvh;
    width: 100%;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;

    @include breakpoint-mixin("laptop-small") {
      height: 7dvh;
    }

    @include breakpoint-mixin("desktop") {
      height: 5dvh;
    }

    .searchBannerWidth {
      //   background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;

      //To account for the scrollbar
      width: calc(95% + 10px);
      margin-left: 10px;
      //To account for the scrollbar
      // background-color: orange;
      .hoverMenu {
        //To increase the range user can hover over
        padding-left: 30px;
        justify-content: flex-end;
        position: relative;
        cursor: pointer;

        .SearchFieldModal {
          position: absolute;
          width: 320px;
          right: 0px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 300ms, visibility 600ms;
          z-index: 1000;
          min-height: 10dvh;
          max-height: 30dvh;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
            rgba(0, 0, 0, 0.22) 0px 10px 10px;
          border: 1px solid black;
          background-color: #202020;
          overflow-y: scroll;

          @include breakpoint-mixin("laptop-small") {
            width: 600px;
          }

          .searchBar {
            height: 5dvh;
            width: 100%;
            border-bottom: 1px solid black;
            display: flex;
            // justify-content: center;

            @include breakpoint-mixin("laptop-small") {
              height: 7dvh;
            }

            @include breakpoint-mixin("desktop") {
              height: 5dvh;
            }

            input {
              background-color: transparent;
              height: 100%;
              border: none;
              outline: none;
              color: white;
              padding: 0px;
              width: 95%;
              margin-left: 10px;
            }
          }

          .modal_title {
            height: 5dvh;
            width: 100%;
            opacity: 0.7;
            display: flex;
            align-items: center;

            @include breakpoint-mixin("laptop-small") {
              height: 7dvh;
            }

            @include breakpoint-mixin("desktop") {
              height: 5dvh;
            }

            p {
              margin-left: 10px;
            }
          }

          .bookBar {
            height: 5dvh;
            border-radius: 5px;
            display: flex;
            align-items: center;
            width: 95%;
            margin: 0px auto 10px auto;
            cursor: pointer;

            @include breakpoint-mixin("laptop-small") {
              height: 7dvh;
            }

            @include breakpoint-mixin("desktop") {
              height: 5dvh;
            }

            p {
              margin-left: 20px;
            }

            @include breakpoint-mixin("laptop-small") {
              &:hover {
                background-color: #2c2c2c;
              }
            }
          }
        }

        .SearchFieldModal::-webkit-scrollbar {
          height: 100%;
          background-color: rgb(45, 41, 41);
          width: 10px;
        }

        .SearchFieldModal::-webkit-scrollbar-thumb {
          background-color: rgba(70, 68, 68, 0.428);
          border: 1px solid transparent;
          background-clip: content-box;
          border-radius: 10px;
          height: 40px;
        }

        &:hover {
          .SearchFieldModal {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .restrictionBanner {
    width: 100%;
    display: flex;
    border-bottom: 0.5px solid black;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;

    @include breakpoint-mixin("laptop-small") {
      padding: 0px;
      height: 5dvh;
    }

    .headerWidth {
      width: 90%;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight: 500;
      justify-content: space-between;

      p {
        font-size: 18px;
      }

      span {
        cursor: pointer;

        @include breakpoint-mixin("laptop-small") {
          &:hover {
            opacity: 0.5;
          }
        }
      }

      @include breakpoint-mixin("laptop-small") {
        width: 95%;
      }
    }
  }

  .filterBanner {
    width: 100%;
    border-bottom: 0.5px solid black;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;

    .filterBannerWidth {
      height: 100%;
      width: 95%;
      display: flex;
      flex-direction: column-reverse;

      @include breakpoint-mixin("laptop-small") {
        flex-direction: row;
        justify-content: space-between;
      }

      .filterSection {
        width: fit-content;
        height: 100%;
        display: flex;

        h3 {
          cursor: pointer;

          @include breakpoint-mixin("laptop-small") {
            &:hover {
              opacity: 0.5;
            }
          }
        }

        .filterHoverMenu {
          width: fit-content;
          position: relative;
          margin-right: 30px;

          @include breakpoint-mixin("laptop-small") {
            margin-right: 40px;
          }

          .FilterModal {
            position: absolute;
            width: 320px;
            top: 120%;
            left: 0%;
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms, visibility 600ms;
            z-index: 1000;
            min-height: 10dvh;
            max-height: 30dvh;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
              rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border: 1px solid black;
            background-color: #202020;
            overflow-y: auto;

            .searchItem {
              height: 5dvh;
              width: 100%;
              border-bottom: 1px solid black;
              display: flex;
              // justify-content: center;

              @include breakpoint-mixin("laptop-small") {
                height: 7dvh;
              }

              @include breakpoint-mixin("desktop") {
                height: 5dvh;
              }

              input {
                background-color: transparent;
                height: 100%;
                border: none;
                outline: none;
                color: white;
                padding: 0px;
                width: 95%;
                margin-left: 10px;
              }
            }

            .modal_title {
              height: 5dvh;
              width: 100%;
              opacity: 0.7;
              display: flex;
              align-items: center;

              @include breakpoint-mixin("laptop-small") {
                height: 7dvh;
              }

              @include breakpoint-mixin("desktop") {
                height: 5dvh;
              }

              p {
                margin-left: 10px;
              }
            }

            .genreItem {
              height: 5dvh;
              display: flex;
              align-items: center;
              width: 95%;
              margin: 0px auto 10px auto;
              border-radius: 5px;
              padding: 0px 20px;
              cursor: pointer;

              @include breakpoint-mixin("laptop-small") {
                height: 7dvh;
              }

              @include breakpoint-mixin("desktop") {
                height: 5dvh;
              }

              .tag {
                padding: 2px 15px;
                border: 0.5px solid var(--background-color);
                overflow-x: hidden;
                box-sizing: border-box;
                max-width: 85%;

                @include breakpoint-mixin("laptop-small") {
                  max-width: 60%;
                }

                p {
                  overflow-x: hidden;
                  //force p to be one line
                  white-space: nowrap;
                  //give ellipsis
                  text-overflow: ellipsis;
                }

                &:hover {
                  opacity: 0.5;
                }
              }

              @include breakpoint-mixin("laptop-small") {
                &:hover {
                  background-color: #2c2c2c;
                }
              }
            }

            .selected {
              background-color: #2c2c2c;
            }
          }

          .FilterModal::-webkit-scrollbar {
            height: 100%;
            background-color: rgb(45, 41, 41);
            width: 10px;
          }

          .FilterModal::-webkit-scrollbar-thumb {
            background-color: rgba(70, 68, 68, 0.428);
            border: 1px solid transparent;
            background-clip: content-box;
            border-radius: 10px;
            height: 40px;
          }

          &:hover {
            .FilterModal {
              visibility: visible;
              opacity: 1;
            }
          }
        }

        //Sort hover menu
        .sortHoverMenu {
          width: fit-content;
          position: relative;

          .SortModal {
            position: absolute;
            left: 0%;
            top: 120%;
            width: 120px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 300ms, visibility 600ms;
            z-index: 1000;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-radius: 10px;
            padding: 10px 0px 10px 0px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
              rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border: 1px solid black;
            background-color: #202020;

            .modal_title {
              height: 30px;
              width: 100%;
              opacity: 0.7;
              display: flex;
              align-items: center;

              p {
                margin-left: 10px;
              }
            }

            .sortItem {
              height: 40px;
              border-radius: 5px;
              display: flex;
              // justify-content: center;
              align-items: center;
              width: 90%;
              cursor: pointer;

              p {
                margin-left: 20px;
              }
            }

            .selected {
              background-color: #2c2c2c;
            }
          }

          &:hover {
            .SortModal {
              visibility: visible;
              opacity: 1;
            }
          }
        }
      }

      .descriptionSection {
        width: 100%;
        text-align: justify;
        margin-bottom: 20px;

        @include breakpoint-mixin("laptop-small") {
          margin-bottom: 0px;
          width: 35%;
        }

        @include breakpoint-mixin("desktop") {
          width: 25%;
        }
      }
    }
  }

  .bookContainer {
    height: fit-content;
    width: 100%;
    // background-color: orange;
    display: grid;

    @include breakpoint-mixin("laptop-small") {
      grid-template-columns: repeat(
        4,
        1fr
      ); /* Adjust the number of columns as needed */
    }

    @include breakpoint-mixin("laptop-wide") {
      grid-template-columns: repeat(
        5,
        1fr
      ); /* Adjust the number of columns as needed */
    }

    @include breakpoint-mixin("desktop-wide") {
      grid-template-columns: repeat(
        6,
        1fr
      ); /* Adjust the number of columns as needed */
    }
  }
}

.Library::-webkit-scrollbar {
  height: 100%;
  background-color: rgb(45, 41, 41);
  width: 10px;
}

.Library::-webkit-scrollbar-thumb {
  background-color: rgba(70, 68, 68, 0.428);
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
  height: 40px;
}
