@import "../styles/Breakpoints.module.scss";

.loginSect {
  height: 48vh;
  width: 90%;
  margin-top: 5%;
  margin-bottom: 10%;
  // background-color: orange;

  @include breakpoint-mixin("laptop-small") {
    margin-bottom: 0%;
    width: 50%;
    height: 50%;
  }

  @include breakpoint-mixin("laptop-wide") {
    height: 45%;
    width: 45%;
  }

  @include breakpoint-mixin("desktop") {
    height: 40%;
    width: 40%;
  }

  .loginInfoSect {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      width: 100%;
    }

    p:nth-of-type(2) {
      cursor: pointer;
    }

    span {
      color: #3fcdfc;
    }
  }

  .loginFormSect {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    // background-color: yellow;

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      padding-bottom: 10px;
      width: 70%;
      border-radius: 0px;
    }
  }

  .loginButtonSect {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      display: none;
    }

    .submitBtn {
      width: fit-content;
      padding: 5px 30px 5px 30px;
      border: 0.5px solid white;
      height: fit-content;
      color: white;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
