@import "../styles/Breakpoints.module.scss";

.loginSect {
  height: fit-content;
  width: 100%;
  margin-bottom: 10%;

  @include breakpoint-mixin("laptop-small") {
    margin-bottom: 0%;
  }

  .loginInfoSect {
    height: 15dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: red;

    @include breakpoint-mixin("laptop-small") {
      height: 17dvh;
    }

    @include breakpoint-mixin("desktop") {
      height: 15dvh;
    }

    p {
      width: 100%;
    }

    p:nth-of-type(2) {
      cursor: pointer;
    }

    span {
      color: #3fcdfc;
    }
  }

  .loginFormSect {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20dvh;

    @include breakpoint-mixin("desktop") {
      height: 18dvh;
    }

    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid white;
      outline: none;
      padding-bottom: 10px;
      border-radius: 0px;
      width: 80%;

      @include breakpoint-mixin("laptop-small") {
        width: 100%;
      }
    }
  }

  .loginStatusSect {
    height: 3dvh;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .loginButtonSect {
    height: 7dvh;
    width: 100%;
    display: flex;
    align-items: center;

    @include breakpoint-mixin("laptop-small") {
      height: 8dvh;
    }

    @include breakpoint-mixin("desktop") {
      height: 5dvh;
    }

    input {
      display: none;
    }

    .submitBtn {
      padding: 5px 30px 5px 30px;
      border: 0.5px solid white;
      height: fit-content;
      color: white;
      cursor: pointer;
      margin-left: 0.5px;

      @include breakpoint-mixin("laptop-small") {
        margin-left: 0px;
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
