@import "../styles/Breakpoints.module.scss";

.membershipPage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include breakpoint-mixin("laptop-small") {
    height: 93dvh;
  }

  @include breakpoint-mixin("desktop") {
    height: 95dvh;
  }

  .membershipContainer {
    height: 60dvh;
    width: 20%;
    // background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .membershipCard {
      height: 80%;
      width: 100%;
      background-color: red;
      //   border: 0.5px solid $border;
    }

    .membershipButton {
      height: 15%;
      width: 100%;
      background-color: aquamarine;
      //   border: 0.5px solid $border;
    }
  }
}
