@import "../styles/Breakpoints.module.scss";

.membershipPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @include breakpoint-mixin("Laptop") {
    flex-direction: row;
    height: 93dvh;
  }

  @include breakpoint-mixin("Desktop") {
    height: 95dvh;
  }

  .cardHeightContainer {
    width: 100%;
    height: fit-content;
  }
}
