@import "../styles/Breakpoints.module.scss";

.modal {
  background-color: $modal-bg;
  width: 300px;
  height: fit-content;
  position: absolute;
  z-index: 1000;
  box-sizing: border-box;
  padding: 0px 5px 10px 5px;
  min-height: 10vh;
  max-height: 30vh;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  .searchSection {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: center;

    input {
      background-color: $hover;
      border-radius: 4px;
      width: 100%;
      border: none;
      padding: 5px;
    }

    input:focus {
      outline: none !important;
      border: 1px solid $kton-blue;
      box-shadow: 0 0 3px;
    }
  }

  .listItem {
    width: 100%;
    padding: 7px 10px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;

    p {
      font-size: 17px;
      font-weight: 400;
    }

    //Shit for tags
    .tag {
      padding: 1px 10px;
      border: 0.5px solid var(--background-color);
      // border-right: 0.5px solid var(--background-color);
      overflow-x: hidden;
      box-sizing: border-box;
      max-width: 85%;
      // width: 100%;

      @include breakpoint-mixin("laptop-small") {
        max-width: 100%;
      }

      p {
        overflow-x: hidden;
        //force p to be one line
        white-space: nowrap;
        //give ellipsis
        text-overflow: ellipsis;
        // width: fit-content;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .selectedItem {
    background-color: $hover;
  }
}

.Book_Search {
  width: 500px;

  //Give hover to specific modals
  .listItem {
    &:hover {
      background-color: $hover;
    }
  }
}

.Filter_Search {
  //Give hover to specific modals
  .listItem {
    &:hover {
      background-color: $hover;
    }
  }
}

.Add_Genre {
  .listItem {
    &:hover {
      background-color: $hover;
    }

    #createText {
      margin-right: 15px;
    }
  }

  .spaceBetween {
    justify-content: space-between;
  }
}

.Select {
  width: 200px;
  min-height: fit-content;
  max-height: fit-content;
  padding: 10px 5px;
}

.modal::-webkit-scrollbar {
  height: 100%;
  background-color: rgb(45, 41, 41);
  width: 10px;
}

.modal::-webkit-scrollbar-thumb {
  background-color: rgba(70, 68, 68, 0.428);
  border: 1px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
  height: 40px;
}
