@import "../styles/Breakpoints.module.scss";

.navbar {
  height: 6vh;
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid black;
  justify-content: center;
  box-sizing: border-box;
  // color: white;

  @include breakpoint-mixin("laptop-small") {
    height: 7vh;
  }

  @include breakpoint-mixin("desktop") {
    height: 5vh;
  }

  .navbarWidth {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

    @include breakpoint-mixin("laptop-small") {
      width: 95%;
    }

    .navigationButtons {
      width: fit-content;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // background-color: orange;

      h3 {
        cursor: pointer;
        margin-left: 30px;

        &:hover {
          opacity: 0.5;
        }
      }

      .hoverMenu {
        width: fit-content;
        position: relative;

        @include breakpoint-mixin("laptop-small") {
          margin-right: 0px;
        }

        .modal {
          position: absolute;
          right: 0%;
          width: 120px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 300ms, visibility 600ms;
          z-index: 1000;
          // border-radius: 10px;

          .modal_height {
            margin-top: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-radius: 10px;
            padding: 10px 0px 10px 0px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
              rgba(0, 0, 0, 0.22) 0px 10px 10px;
            border: 1px solid black;
            background-color: #202020;

            .modal_title {
              height: 30px;
              width: 100%;
              opacity: 0.7;
              display: flex;
              align-items: center;

              p {
                margin-left: 10px;
              }
            }

            .modal_item {
              height: 40px;
              border-radius: 5px;
              display: flex;
              // justify-content: center;
              align-items: center;
              width: 90%;
              cursor: pointer;

              p {
                margin-left: 20px;
              }

              &:hover {
                background-color: #474343;
              }
            }
          }
        }

        &:hover {
          .modal {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
