@import "../Styles/Breakpoints.scss";

.navbar {
  height: 5vh;
  width: 100%;
  display: flex;
  border-bottom: 0.5px solid black;
  justify-content: center;

  .navbarWidth {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

    @include breakpoint-mixin("laptop-small") {
      width: 95%;
    }

    ul {
      list-style-position: inside;
      padding-left: 0;
      font-size: 18px;
    }

    .navigationButtons {
      width: fit-content;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      p {
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }

      span {
        margin-right: 30px;

        @include breakpoint-mixin("laptop-small") {
          margin-right: 40px;
        }
      }

      .hoverMenu {
        width: fit-content;

        .modal {
          position: absolute;
          right: 50%;
          width: 120px;
          opacity: 0;
          visibility: hidden;
          transition: opacity 300ms, visibility 600ms;
          z-index: 1000;
          // border-radius: 10px;

          .modal_height {
            margin-top: 30px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-radius: 10px;
            padding: 10px 0px 10px 0px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            border: 1px solid black;
            background-color: white;

            .modal_title {
              height: 30px;
              width: 100%;
              opacity: 0.7;
              display: flex;
              align-items: center;

              p {
                margin-left: 10px;
              }
            }

            .modal_item {
              height: 40px;
              border-radius: 5px;
              display: flex;
              // justify-content: center;
              align-items: center;
              width: 90%;
              cursor: pointer;

              p {
                margin-left: 20px;
              }

              &:hover {
                background-color: #f7f7f7;
              }
            }
          }
        }

        &:hover {
          .modal {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
