@import "../styles/Breakpoints.module.scss";
.QuoteBanner {
  height: 45dvh;
  width: 100%;
  border-bottom: 0.5px solid $border;
  display: flex;
  justify-content: center;
  background-image: url("../../public/landscape.jpg");
  background-size: cover; /* Resize the background image to cover the entire container */
  background-position: center center; /* Center the image */
  color: white;

  @include breakpoint-mixin("laptop-small") {
    height: 35dvh;
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-position: 0 -250px; /* Center the image */
    background-attachment: fixed;
  }

  .QuoteBannerWidth {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-color: orange;
    position: relative;

    @include breakpoint-mixin("laptop-small") {
      width: 95%;
    }

    .highlight {
      max-width: 100%;
      text-align: justify;
      //Code to trancuate text
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;
      cursor: pointer;
      //Code to trancuate text

      @include breakpoint-mixin("laptop-small") {
        -webkit-line-clamp: 4;

        &:hover {
          opacity: 0.5;
        }
      }
    }

    .metaData1 {
      position: absolute;
      right: 0;
      bottom: 10px;
      cursor: pointer;

      @include breakpoint-mixin("laptop-small") {
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.loading {
  height: 45dvh;
  width: 100%;
  background-color: #e3e3e36b;
  animation: loading-animation 1s infinite linear;

  @include breakpoint-mixin("laptop-small") {
    height: 35dvh;
  }
}

@keyframes loading-animation {
  0% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0.2;
  }
}
