@import "../styles/Breakpoints.module.scss";

.ImportPage {
  height: 93dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include breakpoint-mixin("Tablet") {
    height: 95dvh;
  }

  @include breakpoint-mixin("Laptop_S") {
    height: 93dvh;
  }

  @include breakpoint-mixin("Desktop_M") {
    height: 95dvh;
  }

  @include portrait-min-width-mixin("Vertical_Display") {
    height: 97dvh;
  }
}
